.con{
  width:1300px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
body{
  background-color: #fff;
}

/* 图片标题 */
.img-title{
  position: absolute;
  left:560px;
  top:600px;
  font-size: 30px;
  color:#fff;
}
.img-title span{
 color: #000;
}
/* 解决高度坍塌 */
.main1::after{
  content: "";
  display: block;
  clear: both;

}
/* 介绍 */
.my-big{
  border: 1px solid #000;
}
.t2{
  border: 1px solid #000;
}

.row ul>li img:hover{
  transform: translateY(-8px);
}

h2{
  font-size: 2em;
  color: #666;
}
.t1 ul>li{
  font-size: 20px;
  margin-top: 12px;
  color: #666;
}
.t1 ul>li button{
  color: #666;
}

h1{
  font-size: 40px;
  background: #000000;
  color: #ffffff;
  margin-bottom: 20px;
}
.t3{
  font-size: 18px;
  color: #666;
}
.t4{
  position: relative;
}
.t5{
  position: absolute;
  top: 240px;
}
.t6{
  position: absolute;
  top: 430px;
  right: -52px;
}
