
/* 轮播样式 */
.carousel-control-prev,
.carousel-control-next{
width:4%;height:20%;
top:40%;
background-color: rgba(0,0,0, .3);
border-radius: 4px;
}
.carousel-indicators li{
    width:0.8rem;height: 0.8rem;
    background: #fff;
    border-radius: 50%;
    margin-left: 6px;
    margin-right:6px;
}
.carousel-indicators li.active{
    background: #ffdab9;
}

.my_fl_left_img{transition: 1s;}
/* .my_fl_left_img:hover{transform: scaleY(1.1);} */
.index-pro li{
    position:relative;
    overflow: hidden;
}
.index-pro li div{
    position:absolute;
    bottom:-50px;
    width:100%;height:50px;
    background: rgba(0,0,0,.1);
    text-align:center;
    line-height:50px;
    transition:all 0.5s linear;
    color:#fff;
}
.index-pro li img:hover+div{
    bottom:0;
   
}
.clear{
    background-image: url(../img/banner06.jpg);
    
    
}
.index-pro li img{
    opacity: 0.8;
    border-radius:12px; 
}
.index-pro li img:hover{
    opacity: 1;
    border-radius:12px;
}
.clear ul li>img{
    opacity: 0.8;
    border-radius:12px;
}
.clear ul li>img:hover{
    opacity:1;
    border-radius:12px;
}
.con{
    width:1300px;
    margin-right: auto;
    margin-left: auto;
}