
/* 轮播样式 */
.carousel-control-prev,
.carousel-control-next{
width:4%;height:20%;
top:40%;
background-color: rgba(0,0,0, .3);
border-radius: 4px;
}
.carousel-indicators li{
    width:0.8rem;height: 0.8rem;
    background: #fff;
    border-radius: 50%;
    margin-left: 6px;
    margin-right:6px;
}
.carousel-indicators li.active{
    background: #ffdab9;
}

/* aj商品2 */
.clear{
    position: relative;
}
.c521 img{
    width: 100%;
    height: 345px;
    top: 0px;
    left: 0px;
    position: absolute;
}


.my_fl_left_img{transition: 1s;}
/* .my_fl_left_img:hover{transform: scaleY(1.1);} */
.index-pro li{
    position:relative;
    overflow: hidden;
}
.index-pro li div{
    position:absolute;
    bottom:-50px;
    width:100%;height:50px;
    background: rgba(0,0,0,.1);
    text-align:center;
    line-height:50px;
    transition:all 0.5s linear;
    color:#fff;
}
.index-pro li img:hover+div{
    bottom:0;
}



.index-pro li img{
    opacity: 0.8;
    border-radius:12px; 
}
.index-pro li img:hover{
    opacity: 1;
    border-radius:12px;
}
.clear ul li>img{
    opacity: 0.8;
    border-radius:12px;
}
.clear ul li>img:hover{
    opacity:1;
    border-radius:12px;
}
/* 全部宽度 */
.con{
    width:1300px;
    margin-right: auto;
    margin-left: auto;
}
/* wearejordan */
.wearejordan{
    position: relative;
}
.wearejordan > div{
    position: absolute;
    top: 218px;
    right: 49px;
    color: #666666;
    font-size: 18px;
}

.wearejordan>div>a {
    margin-top: 10px;
    display: block;
    width: 80px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: #000000;
    color: #FFFFFF;
}
/* 轮播视频背景 */
.k2{
    background: url("../img/ai-bg.jpg") no-repeat 0 0 fixed;
	background-size: cover;
}
.k2 ul>li img{
    opacity: 0.5;
    transition: 0.5s;
}
.k2 ul>li img:hover{
    opacity: 1;
    transform: translateY(-10px);

}

/* 轮播视频 */
.lo1 div>video{
    width:672px;
    height:378px;
}
.k2 .carousel-inner{
    left: 1rem;
    bottom: 1rem;
}

.k2 .carousel-control-prev {
    left: 1rem;
}
.k2 .carousel-control-next {
    right: 38rem;
}
.lo1 .carousel-control-prev, 
.carousel-control-next{
    width: 3%;
} 
.lo1 .zx{
    border:1px solid #666;
    font-size: 20px;
    position: absolute;
    left: 70rem;
    top: 2rem;
}
.zx a{
    color: #666;
}

